	body{
		height: 100vh;
		width: 100%;
		padding: 0px;
		margin: 0;
		font: 16px Arial;}
	@font-face{
		font-family: 'IskoolaPota';
		src: url('iskpota.ttf')
	}
	canvas{
		display: block;
		border: solid black 5px;
		margin: auto;
	}
	#InputWrapper{
		width: 300px;
		margin: auto;
		margin-top: 35px}
	#AddedSpellsWrapper{
		width: 300px;
		margin: auto;
		margin-top: 15px;
		padding: 0px;
	}
	#AddedSpells{
		width: 100%;
		padding: 0px;
		height: 150px;
		border: solid #bbbbbb 1px;
		border-radius: 1px;}
	option{
		margin: 0px;
		padding: 2px;
		font: 16px Arial;
	}
	#ButtonsWrapper{
		width: 300px;
		height: 50px;
		margin: auto;
		margin-top: 15px;
	}
	#Reset{
		width: 33%;
		float: left;
	}
	#RemoveSpell{
		width: 66%;
		float: right;
	}
	#GenerateDownloadWrapper{
		width: 300px;
		margin: auto;
	}
	#Generate{
		width: 49%;
	}
	#Download{
		width: 49%;
	}
	#Navigation{
		height: 55px;
		width: 100%;
		line-height: 52px;
		font-size: 125%;
		background-color: #444444;}
	.NavigationButton{
		display: inline-block;
		height: 100%;
		cursor: pointer;
		padding-left: 30px;
		padding-right: 30px;}
	.NavigationButton:hover{
		background-color: #666666;
	}
	a{
		text-decoration: none;
		color: white;
	}

	
	
	
	
	
	
	
	
	
	
	
	
	* { box-sizing: border-box; }
	.autocomplete {
	  /*the container must be positioned relative:*/
	  position: relative;}
	input{
	  border: 1px solid transparent;
	  background-color: #f1f1f1;
	  padding: 10px;
	  font-size: 16px;
	  width: 80%;
	  display: inline-block;}
	button{
		border: 1px solid transparent;
		background-color: #FFcc88;
		padding: 10px;
		font-size: 16px;
		display: inline-block;}
	button:hover{
		background-color: #FFDD99;
		cursor: pointer;
	}
	#AddSpell{
		width: 18%;
	}
	.autocomplete-items {
	  position: absolute;
	  border: 1px solid #d4d4d4;
	  border-bottom: none;
	  border-top: none;
	  z-index: 99;
	  /*position the autocomplete items to be the same width as the container:*/
	  top: 100%;
	  left: 0;
	  right: 0;
	}
	.autocomplete-items div {
	  padding: 10px;
	  cursor: pointer;
	  background-color: #fff;
	  border-bottom: 1px solid #d4d4d4;
	}
	.autocomplete-items div:hover {
	  /*when hovering an item:*/
	  background-color: #e9e9e9;
	}
	.autocomplete-active {
	  /*when navigating through the items using the arrow keys:*/
	  background-color: DodgerBlue !important;
	  color: #ffffff;
	}
